<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xiangbalao.shell"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.xiangbalao.shell.ProxyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 应用的Application -->
        <meta-data
            android:name="APPLICATION_CLASS_NAME"
            android:value="org.xiangbalao.app.DemoApplication" />
        <!-- 测试  权限 -->
        <uses-library android:name="android.test.runner" />

        <!-- 壳的Activity注册信息  测试通过后可以去掉 -->
        <activity
            android:name="org.xiangbalao.shellui.ShellActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 以下为应用Activity注册信息  要带全包名 否则有可能找不到 -->
        <activity
            android:name="org.xiangbalao.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xiangbalao.app.SecendActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>
    <!-- 测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.xiangbalao.androidshell" />

</manifest>